.side-var
 .side-var__user-name
  .top-items
   .top-items__name
    masa
   .top-items__icons
    .top-items__icons__new__users
    =link_to "#" do
     = icon('fa', 'edit')

    .top-items__icons__edit__users
    =link_to "#" do
     = icon('fa', 'cog') 

   

 .side-var__group-list
  .side-var__list
   .side-var__group-name
    techcamp

   .side-var__message-list
    まだメッセージがありません